{
	"semi": false,
	"tabWidth": 2,
	"useTabs": true,
	"singleQuote": false,
	"pugWrapAttributesThreshold": 0,
	"quoteProps": "preserve",
	"arrowParens": "avoid",
	"trailingComma": "es5",
	"endOfLine": "lf"
}
