mixin section__pharmacy(title)
	| <!-- Section Header - Alumni Events : BEGIN -->
	<tr>
		<td style="background-color: #ffffff;">
			<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
					<td style="padding: 20px 20px 5px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #002A5C;">
						<h1 style="margin: 0; font-size: 24px; line-height: 30px; color: #002A5C; font-weight: normal; text-transform: uppercase;">!{title}</strong>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td style="background-color: #ffffff; padding: 0 20px 10px;">
			<img src="https://boundless.utoronto.ca/wp-content/uploads/heading-bd.png" width="640" height="" alt="" border="0" style="width: 100%; max-width: 640px; height: auto; background: #ffffff; font-family: sans-serif; font-size: 15px; line-height: 15px; color: #555555; margin: auto; display: block;" class="g-img">
		</td>
	</tr>
	| <!-- Section Header - Alumni Events : END -->
