+meta
	+preview('Plus, Dentistry alumni share their feedback')
	+container
		+header('MAY 2021')
		// body start
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+section__no-hader('background-color: #ffffff; padding: 0px 30px 20px')
			+button-alt('https://engage.utoronto.ca/site/SPageServer?pagename=donate#/faculty/5')
				| Donate
		+section('A message from Selina Esteves')
			+p
				| May is alumni reunion month at U of T and we celebrate all those who have graduated from the Faculty of Dentistry. As it has always been, it is a great accomplishment to graduate from this school. You, our alumni, persevered through a rigorous curriculum and other challenges to emerge as outstanding professionals, lifelong friends and colleagues.
			+p 
				| Read on to learn more about the activities we created just for you at our first Great Alumni Event: Home Edition. Also, your classmates share stories about their interests outside of dentistry, reflect on time in dental school and illustrate their entrepreneurial spirit.
			+p 
				| No matter when you graduated, or how you contribute to our alumni family, you are part of the fabric of this school, bringing pride to our name. Thank you for all your contributions to our continued success – not just this month, but year round.
			| Sincerely,
			br
			| Selina Esteves
			br
			| Director, Advancement and Alumni Relations
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+section('THE GREAT ALUMNI EVENT: HOME EDITION')
			// -------------------------------------------------------------------
			+news({ title: "Dentistry’s biggest alumni event is just around the corner. Register today!", title_alt: true, img: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/05/18/Newsletter_Great_Alumni_Home_Edition.jpg", href: 'https://www.dentistry.utoronto.ca/the-great-alumni-event', button_text: "VIEW ALL EVENTS" })
				+p 
					strong 
						em 
							| Unwind and reconnect from the comfort of your home.
				| The 2021 edition of the Great Alumni Event is going virtual. From a complimentary CDE course to cooking with celebrity chef Bonnie Stern, from a young alumni panel to family activities, we’re bringing the fun of Dentistry’s alumni reunion to a device near you.
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+section('OUR ALUMNI COMMUNITY')
			// -------------------------------------------------------------------
			+news({ title: "Getting technical", img: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/05/18/1.jpg", href: 'https://www.dentistry.utoronto.ca/news/getting-technical' })
				| Alumni are improving the profession with their dentistry-related tech startups.
			// -------------------------------------------------------------------
			+news({ title: "A meaningful history celebrated virtually", img: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/05/18/2.jpg", href: 'https://www.dentistry.utoronto.ca/news/meaningful-history-celebrated-virtually' })
				| Carolyn (Lamster) Kay DH 6T6 reminisces on her time in the Dental Hygiene Program at the University of Toronto’s Faculty of Dentistry and reunites with her classmates from 55 years ago, virtually.
			// -------------------------------------------------------------------
			+news({ title: "Life outside the office", img: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/05/18/3.jpg", href: 'https://www.dentistry.utoronto.ca/news/life-outside-office' })
				| Three Dentistry alumni are passionate about their hobbies.
			// -------------------------------------------------------------------
			+news({ title: "Dentistry alumni share their feedback", img: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/05/18/Computer_iwth_UofT_logo.jpg", href: 'https://www.dentistry.utoronto.ca/alumni/Survey-Results-2021' })
				| The annual Dentistry alumni survey provides essential feedback in engaging the Faculty’s alumni family and sustaining positive change.
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+section('NEWS & UPDATES')
			// -------------------------------------------------------------------
			+news({ title: "Dentistry professor helps support COVID-19 patients in Humber River Hospital’s ICU", img: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/05/18/Caminiti%2C_Marco_2019-10-09_002.jpg", href: 'https://www.dentistry.utoronto.ca/news/dentistry-professor-helps-support-covid-19-patients-humber-river-hospitals-icu' })
				| When Humber River Hospital announced the need for volunteers in the intensive care unit to treat COVID-19 patients, the Faculty of Dentistry’s Marco Caminiti jumped at the opportunity.
		+section('ONLINE EVENTS & ACTIVITIES')
			// -------------------------------------------------------------------
			+event({ day: "26", month: "May", title: "Urban Equity: Building Back Better from COVID-19", subtitle: "A live webinar" })
				+p 
					| An online talk with social entrepreneur and changemaker, Kofi Hope, followed by the U of T Alumni Association (UTAA) Virtual AGM
				+p 
					| How should urban centres recover from COVID-19? Join adjunct U of T professor,
					|
					+strong
						| Kofi Hope
					|
					strong 
						| (BA 2006 Innis)
					| , for a conversation about post-pandemic cities. Will inequities deepen? Or can we build back in a more diverse, just and sustainable way? Winner of the 2017 Jane Jacobs Prize, Hope is a Toronto Star writer and CEO of
					|
					+link('https://monumentalprojects.ca/')
						| Monumental
					| —an organization that works towards fair and equitable institutions.
				+button('https://alumni.utoronto.ca/u-of-t-alumni-association/agm', 'left')
					| REGISTER
			// -------------------------------------------------------------------
			+news({ title: "In case you missed it! Now on YouTube.", img: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/05/18/YouTube_thumbnail_-_April_webinar.jpg", href: 'https://youtu.be/Q2RTSJWKIB0', button_text: "watch" })
				em
					| Advocating for the Dental Profession
				|
				| features experts from the ODA, RCDSO, and CDA discussing their role in advocating for the dental profession throughout the pandemic and answer questions.
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+connected('STAY CONNECTED')
			+connected__header
				| We want to hear from you!
				|
				strong
					| Inspire your community.
				|
				| Share your stories, updates, publications, accomplishments, or exciting news at
				|
				+link('mailto:alumni@dentistry.utoronto.ca')
					| alumni@dentistry.utoronto.ca
				| .
			+connected__container
				+connected__item('https://adcomms.utoronto.ca/email-templates/dentistry/2021/05/18/Eblast_Banner_WS_2021.jpg')
					+p
						| The U&nbsp;of&nbsp;T Dentistry Magazine Winter/Spring 2021 issue is now available.
					+p
						+link('https://www.dentistry.utoronto.ca/sites/default/files/2021-05/UofTDent-WinerSpring-2021.pdf')
							| Download
						|
						| the PDF Edition.
				// -----------------------------------------------------------------
				+connected__item('https://adcomms.utoronto.ca/email-templates/dentistry/2020/07/connected-1.jpg')
					+p 
						| Stay connected with your friends and colleagues.
					+link('https://www.facebook.com/groups/uoftdentistryalumni')
						| Join
					|
					| our Facebook group.
				// -----------------------------------------------------------------
				+connected__item('https://adcomms.utoronto.ca/email-templates/dentistry/2020/07/connected-2.jpg')
					+p 
						| Interested in receiving invitations to our webinars and live events, or the newest issue of the U of T Dentistry magazine?
					+link('https://secureca.imodules.com/s/731/form-blank/index.aspx?sid=731&gid=1&pgid=11544&cid=19864')
						| Update
					|
					| your contact information.
		// body end
		+footer
