+meta
	+preview('Plus, Dentistry’s Great Alumni Event goes virtual')
	+container
		+header('APRIL 2021')
		// body start
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+section__no-hader('background-color: #ffffff; padding: 0px 30px 20px')
			+button-alt('https://engage.utoronto.ca/site/SPageServer?pagename=donate#/faculty/5')
				| Donate
		+section('A message from Selina Esteves')
			+p
				| This issue marks the thirteenth we have prepared for our alumni family. Over the last year, we have loved sharing your stories. Next month, I look forward to hearing more about how you are all doing at our first-ever virtual Great Alumni Event.
			+p 
				| In this issue, we recognize five accomplished students who make life at U of T Dentistry more engaging and accessible through their dedication and service. We hear stories from the front line of alumni who have received their vaccines. We look at how researchers in our Faculty are working to better understand COVID-19, and how our leaders are advocating on behalf of the dental profession. While it may feel like it has been a long year, I hope you’ll agree that the efforts of our students and our alumni are a beacon as the light on the horizon grows brighter.
			| Sincerely,
			br
			| Selina Esteves
			br
			| Director, Advancement and Alumni Relations
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+section('THE GREAT ALUMNI EVENT: HOME EDITION')
			//- +news({ title: "", img: "", href: '' })
			//- 	| 
			// -------------------------------------------------------------------
			+news({ title: "Unwind and reconnect from the comfort of your home.", img: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/04/Newsletter_Great_Alumni_Home_Edition.jpg", href: 'https://www.dentistry.utoronto.ca/the-great-alumni-event', italic: true, button_text: 'VIEW ALL EVENTS' })
				+p 
					+strong
						|Dentistry’s biggest alumni event of the year is going virtual.
				| The 2021 edition of the Great Alumni Event promises to be a lot more than a cocktail party. From a complimentary CDE course to cooking with celebrity chef Bonnie Stern, from a young alumni panel to family activities, we’re bringing the fun of Dentistry’s alumni reunion to your home.
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+section('OUR ALUMNI COMMUNITY')
			//- +news({ title: "", img: "", href: '' })
			//- 	| 
			// -------------------------------------------------------------------
			+news({ title: "Recognizing student leadership at U of T Dentistry", img: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/04/UTSLA_Banner_for_Alumni_Newsletter_(April).jpg", href: 'https://www.dentistry.utoronto.ca/news/recognizing-student-leadership-u-t-dentistry' })
				| Five Faculty of Dentistry students earn the University of Toronto Student Leadership Award (UTSLA) in recognition of their outstanding leadership, service, and commitment to the university and the Faculty. 
			// -------------------------------------------------------------------
			+news({ title: "Dentistry's Great Alumni Event: Home Edition", img: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/04/Newsletter_Great_alumni_story.jpg", href: 'https://www.dentistry.utoronto.ca/news/dentistrys-great-alumni-event-home-edition' })
				| This May, we’re celebrating our Great Alumni Event in a completely reimagined way. Dentistry's biggest alumni event of the year is going virtual.
			// -------------------------------------------------------------------
			+news({ title: "Advocating for the profession", img: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/04/Newsletter_advocating.jpg", href: 'https://www.dentistry.utoronto.ca/news/advocating-profession' })
				| How did leaders advocate for the dental profession during the pandemic? Unusual times called for renewed efforts to get dentistry prioritized.
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+section('NEWS & UPDATES')
			//- +news({ title: "", img: "", href: '' })
			//- 	| 
			// -------------------------------------------------------------------
			+news({ title: "Measuring immunity at dental schools", img: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/04/Newsletter_Immunity.jpg", href: 'https://www.dentistry.utoronto.ca/news/measuring-immunity-dental-schools' })
				| A new cross-country study will track immune responses in students and more.
			// -------------------------------------------------------------------
			+news({ title: "Vaccines help dentistry keep serving patients", img: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/04/Newsletter_Vaccines.jpg", href: 'https://www.dentistry.utoronto.ca/news/vaccines-help-dentistry-keep-serving-patients' })
				| Eagerly awaited shots for dental professionals change stress levels but not practice.
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+section('ONLINE EVENTS & ACTIVITIES')
			+event({ day: "22", month: "Apr", title: "Advocating for the profession: an organized dentistry discussion", subtitle: "A live webinar" })
				+p 
					| This virtual event is hosted by the University of Toronto Faculty of Dentistry’s Office of Advancement.
				+p 
					| Join us for a special webinar featuring the ODA, RCDSO, and CDA as we discuss their role in advocating for the dental profession through the pandemic and answer your questions.
				+p
					+strong
						em
							| Learn
					|
					| more about organized dentistry’s advocacy role in the early days of the pandemic.
					|
					+strong
						em
							| Discover
					|
					| how dentists were included in early-stage vaccine rollouts.
					|
					+strong
						em
							| Hear
					|
					|about how the pandemic recovery is progressing.
				+button('https://zoom.us/webinar/register/8016166869253/WN_hGi9ehLYSfqMbutnTCZeww', 'left')
					| REGISTER
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+section('VIRTUAL ALUMNI REUNIONS')
			+p 
				+strong
					| Thinking of planning a virtual DDS Class reunion?
			|The Faculty of Dentistry’s Office of Advancement (Alumni Relations) is happy to provide you with a list of class email addresses to help you plan your event.
			br
			| Contact us at
			|
			+link('mailto:alumni@dentistry.utoronto.ca')
				|alumni@dentistry.utoronto.ca
			|
			| to get started.
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+connected('STAY CONNECTED')
			+connected__header
				| We want to hear from you!
				|
				strong
					| Inspire your community.
				|
				| Share your stories, updates, publications, accomplishments, or exciting news at
				|
				+link('mailto:alumni@dentistry.utoronto.ca')
					| alumni@dentistry.utoronto.ca
				| .
			+connected__container
				+connected__item('https://adcomms.utoronto.ca/email-templates/dentistry/2021/04/Newsletter_In_case_you_missed_it.jpg')
					+p
						|In case you missed it! 
					+p
						+link('https://www.youtube.com/watch?v=EZ4mZBux3m8&t=1s')
							| Watch
						|
						|
						em
							| ositioning the Faculty for the future: U of T Dentistry’s new satellite clinic.
					| This special webinar features faculty project leads sharing details about the new satellite clinic, upcoming plans for 124 Edward Street.
				// -----------------------------------------------------------------
				+connected__item('https://adcomms.utoronto.ca/email-templates/dentistry/2020/07/connected-2.jpg')
					+p 
						| Interested in receiving invitations to our webinars and live events, or the newest issue of the U of T Dentistry magazine?
					+link('https://secureca.imodules.com/s/731/form-blank/index.aspx?sid=731&gid=1&pgid=11544&cid=19864')
						| Update
					|
					| your contact information.
				// -----------------------------------------------------------------
				+connected__item('https://adcomms.utoronto.ca/email-templates/dentistry/2020/07/connected-1.jpg')
					+p 
						| Stay connected with your friends and colleagues.
					+link('https://www.facebook.com/groups/uoftdentistryalumni')
						| Join
					|
					| our Facebook group.
		// body end
		+footer