+meta
	+preview('Plus, satellite clinic update and a free mental health & resilience course for healthcare workers')
	+container
		+header('JUNE 2021')
		// body start
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+section__no-hader('background-color: #ffffff; padding: 0px 30px 20px')
			+button-alt('https://engage.utoronto.ca/site/SPageServer?pagename=donate#/faculty/5')
				| Donate
		+section('A message from Selina Esteves')
			+p
				| Exploring and pushing limits to do great things is what this edition of our alumni e-newsletter is all about. We hear from a daring alumnus whose motivation to succeed physically, psychologically and in practice drives him to new heights, we learn more about an important research study focused on examining post surgical pain in trans and cisgender people, and get an update on the Faculty’s new satellite clinic which will benefit our students and patients as it expands our reach into the community and deepens the educational experience. We also hear from community building graduate students committed to knowledge exchange and peer support and a prominent alumnus whose business savvy is shaping the profession through the use of technology and providing new frontiers for greater patient access. The U&nbsp;of&nbsp;T Dentistry community is ever evolving, striving to do better and we embrace tackling new challenges to ensure our enduring excellence.
			br
			| Sincerely,
			br
			| Selina Esteves
			br
			| Director, Advancement and Alumni Relations
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+section('OUR ALUMNI COMMUNITY')
			// -------------------------------------------------------------------
			+news({ title: "Alumnus Leans into Technology for Better Virtual Care", img: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/07/George.jpg", href: 'https://www.dentistry.utoronto.ca/news/alumnus-leans-technology-better-virtual-care' })
				| Visiting an emergency room, especially during a pandemic, is something most people would prefer to avoid. But when it comes to a dental emergency, what other options are there? Alumnus George Christodoulou 8T6 proposes an innovative solution.
			// -------------------------------------------------------------------
			+news({ title: "The Daring Dentist: From Mountaineering to Periodontics, Chris Dare has done it all", img: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/07/20190523_154305.jpg", href: 'https://www.dentistry.utoronto.ca/news/daring-dentist-mountaineering-periodontics-chris-dare-has-done-it-all' })
				| What do climbing the world’s highest mountains and practicing dentistry have in common? Ask Chris Dare, a periodontology graduate student who has completed the Seven Summits, the highest peaks on each of the seven continents.
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+section('NEWS & UPDATES')
			// -------------------------------------------------------------------
			+news({ title: "Satellite Clinic Closer to Completion", img: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/07/SatClinicBanner.jpg", href: 'https://www.dentistry.utoronto.ca/news/satellite-clinic-closer-completion' })
				| Construction is well underway at the Faculty of Dentistry’s new satellite clinic, with a planned opening date of early September. The brand new 15,000 square foot clinic, which will feature 41 enclosed operatories, will enhance the patient experience and enrich clinical education.
			// -------------------------------------------------------------------
			+news({ title: "Researchers to Explore Impact of Gender and Body Image on Pain Post-Surgery in Transgender Men and Cisgender Women", img: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/07/MassiehStoryBanner.jpg", href: 'https://www.dentistry.utoronto.ca/news/u-t-researchers-explore-impact-gender-and-body-image-pain-post-surgery-transgender-men-and' })
				| A diverse team of researchers from the University of Toronto have been awarded a grant from the New Frontiers Research Fund to explore the impact of sociocultural and psychological factors on postsurgical pain.
			// -------------------------------------------------------------------
			+news({ title: "Dentistry Graduate Students Create Professional Development Community", img: "https://adcomms.utoronto.ca/email-templates/dentistry/2021/07/GPDClogo.jpg", href: 'https://www.dentistry.utoronto.ca/news/dentistry-graduate-students-create-professional-development-community' })
				| Graduate students at the Faculty of Dentistry come from a variety of educational backgrounds, many without clinical specialty training. The Graduate Professional Development Community (GPDC) was recently established to meet this need.
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+section('ONLINE EVENTS & ACTIVITIES')
			// -------------------------------------------------------------------
			+event({ day: "24", month: "JUL", title: "Mental Health & Resilience for Healthcare Workers" })
				+p 
					| A free, five-week MOOC (Massive Open Online Course) exclusive to U&nbsp;of&nbsp;T alumni, and their friends and family
					|
					strong 
						| starts July 26, and ends September 6, 2021.
				+p 
					| COVID-19 elevated the stress level of our already demanding jobs. It also taught us new ways to cope. In this MOOC, Heather Gordon, EdD, shares the strategies for relief and resilience employed at UHN. Professor Steve Joordens explains the psychology behind them. This MOOC includes: videotaped lectures, virtual office hours, customized videos, and the option to take the course weekly or at your convenience.
				+button('https://alumni.utoronto.ca/events-and-programs/mental-health-resilience-healthcare-workers?utm_source=DUA&utm_medium=newsletter&utm_content=healingfrontline&utm_campaign=alr&dis=9000597753', "left")
					| REGISTER
			br
			// -------------------------------------------------------------------
			+event({ day: "10", month: "AUG", title: "Income Tax Reduction and Estate Tax Elimination for Business Owners" })
				+p 
					| We all have a lot on our minds right now, including our financial future. If you are the owner of a dental practice, you may be considering adjustments in light of these extraordinary times. In this free online presentation for business owners, financial consultant Tina Tehranchian shares tax and estate planning strategies you can apply today.
				+p 
					strong
						| Tuesday, August 10, 2021 2:00-3:00 p.m. EDT
					br
					| To reserve your spot, contact Kim Wright at 416-978-5930 or
					|
					+link('mailto:kimberley.wright@utoronto.ca')
						| kimberley.wright@utoronto.ca
					| .
				+button('https://alumni.utoronto.ca/events-and-programs/mental-health-resilience-healthcare-workers?utm_source=DUA&utm_medium=newsletter&utm_content=healingfrontline&utm_campaign=alr&dis=9000597753', "left")
					| REGISTER
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+section('INCASE YOU MISSED IT')
			+p
				| In June, the Faculty of Dentistry presented the
				|
				strong
					| Class of 2021 Virtual Graduation and Awards Celebration
				|
				| to acknowledge the accomplishments of our newest group of graduates who persevered during an exceptionally challenging time.
			+p
				| Watch the recording of the virtual celebration
				|
				+link('https://www.youtube.com/watch?v=G7bjD8WKeQs')
					| here
				| .
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		// ---------------------------------------------------------------------
		+connected('STAY CONNECTED')
			+connected__header
				| We want to hear from you!
				|
				strong
					| Inspire your community.
				|
				| Share your stories, updates, publications, accomplishments, or exciting news at
				|
				+link('mailto:alumni@dentistry.utoronto.ca')
					| alumni@dentistry.utoronto.ca
				| .
			+connected__container
				+connected__item('https://adcomms.utoronto.ca/email-templates/dentistry/2021/05/18/Eblast_Banner_WS_2021.jpg')
					+p
						| The U&nbsp;of&nbsp;T Dentistry Magazine Winter/Spring 2021 issue is now available.
					+p
						+link('https://www.dentistry.utoronto.ca/sites/default/files/2021-05/UofTDent-WinerSpring-2021.pdf')
							| Download
						|
						| the PDF Edition.
				// -----------------------------------------------------------------
				+connected__item('https://adcomms.utoronto.ca/email-templates/dentistry/2020/07/connected-1.jpg')
					+p 
						| Stay connected with your friends and colleagues.
					+link('https://www.facebook.com/groups/uoftdentistryalumni')
						| Join
					|
					| our Facebook group.
				// -----------------------------------------------------------------
				+connected__item('https://adcomms.utoronto.ca/email-templates/dentistry/2020/07/connected-2.jpg')
					+p 
						| Interested in receiving invitations to our webinars and live events, or the newest issue of the U of T Dentistry magazine?
					+link('https://secureca.imodules.com/s/731/form-blank/index.aspx?sid=731&gid=1&pgid=11544&cid=19864')
						| Update
					|
					| your contact information.
		// body end
		+footer
