// block
include ./mixin/block/p.pug
include ./mixin/block/strong.pug
include ./mixin/block/link.pug
include ./mixin/block/headline.pug
include ./mixin/block/button.pug
include ./mixin/block/header-img.pug
// template
include ./mixin/meta.pug
include ./mixin/preview.pug
include ./mixin/container.pug
include ./mixin/header.pug
include ./mixin/footer.pug
// section
include ./mixin/section/section.pug
include ./mixin/section/news.pug
include ./mixin/section/event.pug
include ./mixin/section/connected.pug
include ./mixin/section/volunteer.pug
